{
  "env": {
      "browser": true,
      "es6": true,
      "node": true
  },
  "plugins": [
    "prettier", "react-hooks"
  ],
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
