// VARIABLES
$body-background-color: #121212;
$title-color: #eee;
$subtitle-color: #dbdbdb;
$content-heading-color: #eee;
$body-color: #fafafa;
$strong-color: #fafafa;
$content-table-cell-heading-color: #fafafa;
$content-table-head-cell-color: #fafafa;
$content-table-foot-cell-color: #fafafa;

$content-blockquote-background-color: transparent;

$primary: #ffc107;
$link: #ffc107;
$link-hover: #d19d00;
