// VARIABLES

$body-background-color: #121212;
$title-color: #eee;
$content-heading-color: #eee;
$body-color: #eee;

$content-blockquote-background-color: transparent;

$primary: #ffc107;
$link: #ffc107;
$link-hover: #d19d00;
